---
layout: default
title: study notes
permalink: /study/
---
{% assign sorted_tags = site.tags | sort %}
<div class="accordion" id="accordionTags">
{% for tag in sorted_tags %}
{%  if tag[0] contains "Study Notes" %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{ tag[0] | downcase | slugify }}">
      <button class="accordion-button collapsed" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-{{ tag[0] | downcase | slugify }}"
        aria-expanded="true"
        aria-controls="collapse-{{ tag[0] | downcase | slugify }}">
        <strong>{{ tag[0] | upcase }}</strong>
      </button>
    </h2>
    <div id="collapse-{{ tag[0] | downcase | slugify }}"
      class="accordion-collapse collapse"
      aria-labelledby="heading-{{ tag[0] | downcase | slugify }}"
      data-bs-parent="#accordionTags">
      <div class="accordion-body">
        {% include tagged_posts.html %}
      </div>
    </div>
  </div>
{%  endif %}
{% endfor %}
</div>