<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/monokai-sublime.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <title>{{ page.title }}</title>

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">James Williams</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/research/">Research</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/publications/">Publications</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/fieldwork/">Fieldwork</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/opensource/">Open Source</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/photography/">Photography</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Writing</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/technology/">Technology</a></li>
                      <li><a class="dropdown-item" href="/writing/essays/">Essays</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/archive/">Archive</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact/">Contact / CV</a>
                  </li>
                </ul>
                <form class="d-flex" id="search-form" action="/search/" method="get">
                  <input id="search-input" name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
              </div>
            </div>
        </nav>
